*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --purple:#9a67ea;
    --blue-light:#04d4c3;
  }
  
  body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: white;
    height: 100vh;
    color: black;
  
}


/* Contenedor general */
.contenido1{
    width: 55%;
    height: 100%;
    margin:90px auto;
}

/* Título */
.titulo{
    text-align: center;
    color: black;
}


/* Contenedor del input y botón agregar */
.contenido2{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.input{
    width: 60%;
    height: 40px;
    outline: none;
    border: 0;
    border-bottom: 3px solid blue;
    background: whitesmoke;
    color: black;
    border-radius: 20px;
}

.input::placeholder{
    position: relative;
    left: 8px;
}

.agrega{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background: blue;
    color: white;
    outline: none;
    border:none;
    cursor: pointer;
}

.agrega:hover{
    background: #0A84F8;
}



/* Contenedor de la lista de tareas */
.local{
    width: 100%;
    /*height: 500px;*/
    height: 100vh;
    /*overflow: auto;
    overflow-y: auto;*/
}

/* Contenedor de cada lista individual */
.lista1{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

/* Sub-contenedor del checkbox y la tarea */
.lista2{
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
}

.casilla{
    position: relative;
    left: 50px;
}


.actividad{
    position: relative;
    left: 110px;
    color: black;
}


/* Sub-contenedor del botón eliminar */
.lista-boton{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-eliminar{
    border: 0;
    background: 0;
}

.fas{
    font-size: 20px;
    color: red;
    cursor: pointer; 
}

.fas:hover{
    background: red;
}